[submodule "bancho.py-ex"]
	path = bancho.py-ex
	url = https://github.com/osu-NoLimits/bancho.py-ex.git
[submodule "shiina"]
	path = shiina
	url = https://github.com/osu-NoLimits/shiina.git
[submodule "shiina-docs"]
	path = shiina-docs
	url = https://github.com/osu-NoLimits/docs
